* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'cimzel'sans-serif;
}

body {
    background-color: #fff;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #87826A; 
    padding: 15px 40px;
    z-index: 10;
    position: sticky;
    top: 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
    margin-left: auto;
    margin-right: 40px;
}

.nav-links li {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}

.search-input {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    width: 250px;
    font-size: 16px;
    outline: none;
} 
section img{
    width:100%;
    height: 550px;
    object-fit: cover;
}
.hero-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #87826a5b;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    width: 400px;
    z-index: 2;
}
.hero-content h1{
    font-size:large;
    margin-bottom: 15px;
}
.hero-content p{
    font-size: 14px;
}
#filters-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -30px; 
    z-index: 10;
}
.filters-container{
    display: flex;
    gap: 10px;
    background:#87826a5b;
    padding: 10px;
    border-radius: 15px;
}
/* buttons */
.filters-container button {
    background: #87826A; 
    border: none;
    color: black;
    padding: 8px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}
footer {
    background: #87826A; 
    text-align: center;
    padding: 20px;
    width: 100%;
    font-size: 14px;
    color: black;
    box-sizing: border-box;
}



